!!! 5
html
  head
    meta(charset='utf-8')
    title TuneTuna

    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/touch-icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72',   href='/images/touch-icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='57x57',   href='/images/touch-icons/apple-touch-icon-57x57.png')
  
    //- link(rel='stylesheet', href='/stylesheets/lib/ratchet.css')
    //- link(rel='stylesheet', href='/stylesheets/mobile.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic', type='text/css')

    //- link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/lib/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/desktop.css')

    link(rel='stylesheet', href='/stylesheets/lib/font-awesome.css')

    include templates/playing
    include templates/results
    include templates/songs

  body
    img#code(src='', style='display:none !important;')

    #popup.modal.hide
      

    #container
      #content

        if (locals.player)
          #player

        #playing-wrapper
          #now-playing
        input#search(type='text', placeholder='search')

        ul#results     
        ul#queue 

    #join
      | join this party at  
      strong
        a(href="/#{session}")
          span#host
          | /#{session}
    
    block scripts
    script(src='/javascripts/lib/zepto.min.js')
    script(src='/javascripts/lib/handlebars.js')
    script(src='/javascripts/lib/lodash.min.js')
    script(src='/socket.io/socket.io.js')

    script
      session_name   = '#{session}';
      websocket_port = #{websocket_port};

    script(src='/javascripts/app.js')
    script(src='/javascripts/search.js')

    if (locals.player)
      script(src='/javascripts/lib/swfobject.js')
      script(src='/javascripts/player.js')


